<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="onlinevoting.nitcalicut.onlinevoting">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserLogin"
            android:label="Student Login"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Votingpage"
            android:label="Voting Area"
            android:parentActivityName=".UserLogin" />
        <activity
            android:name=".Registration"
            android:parentActivityName=".Home" />
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Position_name"
            android:label="Lists of Positions"
            android:parentActivityName=".AdminNavigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserRegistration"
            android:label="User Registration"
            android:parentActivityName=".AdminNavigation" />
        <activity
            android:name=".AdminNavigation"
            android:label="Admin panel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Candidateadd"
            android:label="Add Candidates"
            android:parentActivityName=".AdminNavigation" />
        <activity
            android:name=".userloginroll"
            android:label="Admin panel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".pnumbervarify"></activity>
    </application>

</manifest>